<template>
  <v-app>
    <v-container>
      <v-row justify="center">
        <category-cards
          :categories="categories"
          @inputData="updateCategoryFilter"
        />
      </v-row>
      <v-row
        class="pt-5"
        justify="start"
        align="start"
      >
        <product-card
          v-for="product in productsByCategory"
          :key="product.productUuid"
          :product="product"
          :isFlat="false"
          :maxWidth="170"
            >

            <v-spacer />
            <v-col> {{ product.price }}€ </v-col>
            <v-btn
              fab
              small
              color="cyan"
              @click="
                addSingleItemToShoppingBag({
                  productUuid: product.productUuid,
                })
              "
            >
              <v-icon>
                mdi-plus
              </v-icon>
            </v-btn>
        </product-card>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import CategoryCards from '../../components/CategoryCards';
import ProductCard from '../../components/ProductCard';

export default {
  name: 'ProductPage',
  components: {
    CategoryCards,
    ProductCard,
  },
  data: () => ({
    filterByCategory: 'No Category',
  }),
  computed: {
    ...mapState(['products', 'categories']),
    productsByCategory() {
      if (this.filterByCategory !== 'No Category') {
        const productsByCategory = this.products.filter(
          product => product.category === this.filterByCategory,
        );
        return productsByCategory;
      }
      return this.products;
    },
  },
  methods: {
    ...mapActions(['addSingleItemToShoppingBag']),
    updateCategoryFilter(nameOfCategegory) {
      this.filterByCategory = nameOfCategegory;
    },
  },
};
</script>