<template>
  <v-card>
    <v-row>
      <v-card
        class="px-4 pb-5"
        flat
        v-for="categorie in categories"
        :key="categorie.uuid"
        @click.native="submit(categorie.name)"
      >
        <v-img
          :src="categorie.picture"
          class="white--text align-end"
          gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
          max-height="200px"
          max-width="325px"
        >
          <v-card-title v-text="categorie.name" />
        </v-img>
      </v-card>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: 'ProductPage',
  props: ['categories'],
  data: () => ({
    //
  }),
  methods: {
    submit(nameOfCategory) {
      this.$emit('inputData', nameOfCategory);
    },
  },
};
</script>
