<template>
    <div>
        <v-card
          :flat="isFlat"
          height="300"
          :width="maxWidth"
          class="ma-3"
        >
          <v-img
            height="150"
            width="300"
            :src="product.picture"
          />
          <v-card-title>
            {{ product.name }}
          </v-card-title>
          <v-card-subtitle>
            {{ product.description }}
          </v-card-subtitle>
          <v-card-actions>
            <slot />
          </v-card-actions>
        </v-card>
    </div>
</template>

<script>
	import { mapActions } from 'vuex';
	
	export default {
			name: 'ProductCard',
			props: [
          'product',
          'isFlat',
          'maxWidth',
			],
			data: () => ({
				//
			}),
			methods: {
			...mapActions(['addSingleItemToShoppingBag']),
			}
	}
</script>