<template>
  <v-app>
    <v-container>
      <v-row align="center" justify="center">
        <v-card
          width="550">
          <v-card-title>
            Shopping Cart
          </v-card-title>
          <v-list>
            <v-list-item
              v-for="product in shoppingBag"
              :key="product.productUuid"
            >
              <v-col align="center" cols="1">
                <v-btn
                  text
                  @click="
                    changeAmountOfItemsInShoppingBag({
                      productUuid: product.productUuid,
                      amountOfItems: 0,
                    })
                  "
                >
                  <v-icon>
                    mdi-delete
                  </v-icon>
                </v-btn>
            </v-col>
            <v-col justify="center" align="center">
              <product-card :product="product" :isFlat="true" :maxWidth ="250">
               <v-text-field
                v-model="product.amount"
                label="amount" 
                @input="changeAmountOfItemsInShoppingBag({
                  productUuid: product.productUuid,
                  amountOfItems: parseInt(product.amount),
                  })"
                type="number"
                min="1"
                />

                <v-btn text color="green"> Price: {{ product.price * product.amount }} € </v-btn>
              </product-card>
            </v-col>
            </v-list-item>
          </v-list>
          <v-card height="50" width=800>
            <v-row>
              <v-col>
                Total price: {{ totalPrice }}€
              </v-col>
              <v-col align="end">
                <v-btn text>
                  proceed to checkout
                </v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-card>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import ProductCard from '../../components/ProductCard';

export default {
  name: 'CheckoutPage',
  components: {
    ProductCard,
  },
  data: () => ({
    selectedProduct: [],
  }),
  computed: {
    ...mapState(['shoppingBag']),
    totalPrice() {
      let totalPrice = 0;
      this.shoppingBag.forEach((product) => {
        totalPrice += product.price * product.amount;
      });
      return totalPrice;
    },
  },
  methods: {
    ...mapMutations(['changeAmountOfItemsInShoppingBag']),
  },
};
</script>

<style>
</style>
