<template>
  <v-app>
    <v-app-bar
      clipped-right
      app>
      <v-tabs>
        <v-tab @click="isNavigationDrawer = false">
          Webshop
        </v-tab>
        <v-spacer />
        <v-tab @click="isNavigationDrawer = !isNavigationDrawer">
          <v-icon>
            mdi-cart
          </v-icon>
          <v-col>
            {{ numberOfItemsInShoppingBag }}
          </v-col>
        </v-tab>
      </v-tabs>
    </v-app-bar>
    <v-navigation-drawer
      v-model="isNavigationDrawer"
      app
      width=400
      height=850
      clipped
      right>
      <checkout-page></checkout-page>
    </v-navigation-drawer>
    <v-content>
      <product-page />
    </v-content>
  </v-app>
</template>

<script>
import { mapState } from 'vuex';
import ProductPage from './modules/shop/ProductPage'
import CheckoutPage from './modules/checkout/CheckoutPage'

export default {
  name: 'App',
  components: {
    CheckoutPage,
    ProductPage,
  },
  data: () => ({
    isNavigationDrawer: false,
  }),
  computed: {
    ...mapState(['shoppingBag']),
    numberOfItemsInShoppingBag() {
      let numberOfItemsInShoppingBag = 0;
      this.shoppingBag.forEach((product) => {
        numberOfItemsInShoppingBag += product.amount;
      });
      return numberOfItemsInShoppingBag;
    },
  },
};
</script>
